In [26]:
for i in range(1,6):
    for j in range(1,6):
        for k in range(1,6):
            print(j,k,i)

1 1 1
1 2 1
1 3 1
1 4 1
1 5 1
2 1 1
2 2 1
2 3 1
2 4 1
2 5 1
3 1 1
3 2 1
3 3 1
3 4 1
3 5 1
4 1 1
4 2 1
4 3 1
4 4 1
4 5 1
5 1 1
5 2 1
5 3 1
5 4 1
5 5 1
1 1 2
1 2 2
1 3 2
1 4 2
1 5 2
2 1 2
2 2 2
2 3 2
2 4 2
2 5 2
3 1 2
3 2 2
3 3 2
3 4 2
3 5 2
4 1 2
4 2 2
4 3 2
4 4 2
4 5 2
5 1 2
5 2 2
5 3 2
5 4 2
5 5 2
1 1 3
1 2 3
1 3 3
1 4 3
1 5 3
2 1 3
2 2 3
2 3 3
2 4 3
2 5 3
3 1 3
3 2 3
3 3 3
3 4 3
3 5 3
4 1 3
4 2 3
4 3 3
4 4 3
4 5 3
5 1 3
5 2 3
5 3 3
5 4 3
5 5 3
1 1 4
1 2 4
1 3 4
1 4 4
1 5 4
2 1 4
2 2 4
2 3 4
2 4 4
2 5 4
3 1 4
3 2 4
3 3 4
3 4 4
3 5 4
4 1 4
4 2 4
4 3 4
4 4 4
4 5 4
5 1 4
5 2 4
5 3 4
5 4 4
5 5 4
1 1 5
1 2 5
1 3 5
1 4 5
1 5 5
2 1 5
2 2 5
2 3 5
2 4 5
2 5 5
3 1 5
3 2 5
3 3 5
3 4 5
3 5 5
4 1 5
4 2 5
4 3 5
4 4 5
4 5 5
5 1 5
5 2 5
5 3 5
5 4 5
5 5 5

# *(Star) Pattern

# Right angle half pyramid

In [2]:
rows=int(input("Enter number of rows"))
for i in range(1,rows+1):
    print('* '*i)

Enter number of rows 5

*
* *
* * *
* * * *
* * * * *

# Right angle inverted half pyramid

In [21]:
rows=int(input("Enter number of rows"))
for i in range(5,0,-1):
    print("* "*i)

Enter number of rows 5

* * * * *
* * * *
* * *
* *
*

# Left wing of butterfly

In [6]:
rows=int(input("Enter number of rows"))
for i in range(1,rows+1):
    print('* '*i)
for i in range(5,0,-1):
    print("* "*i)

Enter number of rows 5

*
* *
* * *
* * * *
* * * * *
* * * * *
* * * *
* * *
* *
*

# Left angle half pyramid

In [13]:
rows=int(input("Enter number of rows"))
for i in range(1,6):
    print(' '*(rows-i)+'*'*i)

Enter number of rows 5

    *
   **
  ***
 ****
*****

# Left angle inverted haf pyramid

In [14]:
rows=int(input("Enter number of rows"))
for i in range(5,0,-1):
    print(' '*(rows-i)+'*'*i)

Enter number of rows 5

*****
 ****
  ***
   **
    *

# Right wing of butterfly

In [17]:
rows=int(input("Enter number of rows"))
for i in range(1,rows+1):
    print(' '*(rows-i)+'*'*i)
for i in range(rows,0,-1):
    print(' '*(rows-i)+'*'*i)

Enter number of rows 5

    *
   **
  ***
 ****
*****
*****
 ****
  ***
   **
    *

# Full butterfly

In [20]:
rows=int(input("Enter number of rows"))
for i in range(1,rows+1):
    print('*'*i+' '*(rows-i)+' '*(rows-i)+'*'*i)
for i in range(rows,0,-1):
    print("*"*i+' '*(rows-i)+' '*(rows-i)+'*'*i)

Enter number of rows 5

*        *
**      **
***    ***
****  ****
**********
**********
****  ****
***    ***
**      **
*        *

# Flying butterfly

In [25]:
rows=int(input("Enter number of rows"))
for i in range(rows,0,-1):
    print(' '*(rows-i)+'*'*i+"*"*i)
for i in range(1,rows+1):
    print(' '*(rows-i)+'*'*i+'*'*i)

Enter number of rows 5

**********
 ********
  ******
   ****
    **
    **
   ****
  ******
 ********
**********

# Hollow square

In [28]:
rows=int(input("Enter number of rows"))
for i in range(1,6):
    if i==2 or i==3 or i==4:
        print("*"+' '*3+"*")
    else:
        print('*'*5)

Enter number of rows 5

*****
*   *
*   *
*   *
*****

# Pyramid

In [30]:
rows=int(input("Enter number of rows"))
for i in range(1,6):
    print(' '*(rows-i)+'* '*i)

Enter number of rows 5

    *
   * *
  * * *
 * * * *
* * * * *

In [31]:
rows=int(input("Enter number of rows"))
j=0
for i in range(1,6):
    print(' '*(rows-i)+'*'*(i+j))
    j+=1

Enter number of rows 5

    *
   ***
  *****
 *******
*********

# Inverted pyramid

In [32]:
rows=int(input("Enter number of rows"))
j=4
for i in range(rows,0,-1):
    print(' '*(rows-i)+'*'*(i+j))
    j-=1

Enter number of rows 5

*********
 *******
  *****
   ***
    *

# Diamond

In [34]:
rows=int(input("Enter number of rows"))
j=0
for i in range(1,6):
    print(' '*(rows-i)+'*'*(i+j))
    j+=1
j=4
for i in range(rows,0,-1):
    
    print(' '*(rows-i)+'*'*(i+j))
    j-=1

Enter number of rows 5

    *
   ***
  *****
 *******
*********
*********
 *******
  *****
   ***
    *

# Inverted diamond

In [36]:
rows=int(input("Enter number of rows"))
for i in range(rows,0,-1):
    print(' '*(rows-i)+'* '*i)

Enter number of rows 5

* * * * *
 * * * *
  * * *
   * *
    *

# Diamond

In [37]:
rows=int(input("Enter number of rows"))
for i in range(1,6):
    print(' '*(rows-i)+'* '*i)
for i in range(rows,0,-1):
    print(' '*(rows-i)+'* '*i)

Enter number of rows 5

    *
   * *
  * * *
 * * * *
* * * * *
* * * * *
 * * * *
  * * *
   * *
    *

# Number pattern

# Right angle half pyramid with numbers

In [51]:
rows=int(input("Enter number of rows"))
for i in range(1,6):
    for j in range(1,i+1):
     print(j,end='')
    print()

Enter number of rows 5

1
12
123
1234
12345

# Inverted left angle half pyramid with numbers

In [61]:
rows=int(input("Enter number of rows"))
for i in range(rows,0,-1):
    for k in range(rows-i):
        print(" ",end='')
    for j in range(1,i+1):
        print(j,end='')
    print()

Enter number of rows 5

12345
 1234
  123
   12
    1

# Inverted right angle half pyramid with numbers

In [64]:
rows=int(input("Enter number of rows"))
for i in range(rows,0,-1):
    for j in range(1,i+1):
     print(j,end='')
    print()

Enter number of rows 5

12345
1234
123
12
1

# Left wing of butterfly with numbers

In [65]:
rows=int(input("Enter number of rows"))
for i in range(1,6):
    for j in range(1,i+1):
     print(j,end='')
    print() 
for i in range(rows,0,-1):
    for j in range(1,i+1):
     print(j,end='')
    print()

Enter number of rows 5

1
12
123
1234
12345
12345
1234
123
12
1

# Left angle half pyramid with numbers

In [66]:
rows=int(input("Enter number of rows"))
for i in range(1,rows+1):
    for k in range(rows-i):
        print(" ",end='')
    for j in range(1,i+1):
        print(j,end='')
    print()

Enter number of rows 5

    1
   12
  123
 1234
12345

# Right wing of butterfly with numbers

In [1]:
rows=int(input("Enter number of rows"))
for i in range(1,rows+1):
    for k in range(rows-i):
        print(" ",end='')
    for j in range(1,i+1):
        print(j,end='')
    print()
for i in range(rows,0,-1):
    for k in range(rows-i):
        print(" ",end='')
    for j in range(1,i+1):
        print(j,end='')
    print()

Enter number of rows 5

    1
   12
  123
 1234
12345
12345
 1234
  123
   12
    1

# Butterfly with numbers

In [24]:
rows=int(input("Enter number of rows"))
for i in range(1,6):
    for j in range(1,i+1):
     print(j,end='')
    print(' '*(2*(rows-i)),end='')
        
    for l in range(1,i+1):
        print(l,end='')
    print()
for i in range(rows,0,-1):
    for j in range(1,i+1):
     print(j,end='')
    print(' '*(2*(rows-i)),end='')
    for l in range(1,i+1):
        print(l,end='')
    print()

Enter number of rows 5

1        1
12      12
123    123
1234  1234
1234512345
1234512345
1234  1234
123    123
12      12
1        1

# Flying butterfly with numbers

In [29]:
rows=int(input("Enter number of rows"))
for i in range(rows,0,-1):
    for k in range(rows-i):
        print(" ",end='')
    for j in range(1,i+1):
        print(j,end='')
    for j in range(1,i+1):
        print(j,end='')
    print()
for i in range(1,rows+1):
    for k in range(rows-i):
        print(" ",end='')
    for j in range(1,i+1):
        print(j,end='')
    
    for j in range(1,i+1):
     print(j,end='')
        
    print()

Enter number of rows 5

1234512345
 12341234
  123123
   1212
    11
    11
   1212
  123123
 12341234
1234512345

# Pyramid with numbers

In [74]:
rows=int(input("Enter number of rows"))
for i in range(1,rows+1):
    for k in range(rows-i):
        print(" ",end='')
    for j in range(1,i+1):
        print(str(j)+' ',end='')
    print()

Enter number of rows 5

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [ ]:
# Pyramid

In [80]:
rows=int(input("Enter number of rows"))
j=1
for i in range(1,rows+1):
    for k in range(rows-i):
        print(" ",end='')
    for j in range(1,i+j):
        print(j,end='')
    print()

Enter number of rows 5

    1
   12
  1234
 1234567
1234567891011

# Inverted pyramid with numbers

In [75]:
rows=int(input("Enter number of rows"))
for i in range(rows,0,-1):
    for j in range(rows-i):
        print(" ",end='')
    for j in range(1,i+1):
        print(str(j)+" ",end='')
    print()

Enter number of rows 5

1 2 3 4 5
 1 2 3 4
  1 2 3
   1 2
    1

# Full pyramid with numbers

In [76]:
rows=int(input("Enter number of rows"))
for i in range(1,rows+1):
    for k in range(rows-i):
        print(" ",end='')
    for j in range(1,i+1):
        print(str(j)+' ',end='')
    print() 
for i in range(rows,0,-1):
    for j in range(rows-i):
        print(" ",end='')
    for j in range(1,i+1):
        print(str(j)+" ",end='')
    print()

Enter number of rows 5

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5
1 2 3 4 5
 1 2 3 4
  1 2 3
   1 2
    1

# Floyd's Triangle(Continuous Triangle)

In [71]:
rows=int(input("Enter number of rows"))
num=1
for i in range(1,rows+1):
    for j in range(i):
        print(num,end='\t')
        num+=1
    print()

Enter number of rows 5

1
2	3
4	5	6
7	8	9	10
11	12	13	14	15

In [37]:
rows=int(input("Enter number of rows"))
num=1
for i in range(rows,0,-1):
    for j in range(i):
        print(num,end='\t')
        num+=1
    print()

Enter number of rows 5

1	2	3	4	5
6	7	8	9
10	11	12
13	14
15

In [45]:
rows=int(input("Enter number of rows"))
num=1
for i in range(1,rows+1):
    print(' '*(rows-i),end='')
    for j in range(i):
     
     print(num,end='')
     num+=1
    
    print()

Enter number of rows 5

    1
   23
  456
 78910
1112131415

In [48]:
rows=int(input("Enter number of rows"))
num=1
for i in range(rows,0,-1):
    print(' '*(rows-i),end='')
    for j in range(i):
     
     print(num,end='')
     num+=1
    
    print()

Enter number of rows 5

12345
 6789
  101112
   1314
    15

# Alphabets Triangle

# Right angle triangle with alphabets

In [83]:
rows=int(input("Enter number of rows"))
for i in range(1,rows+1):
    ans=[chr(65+j) for j in range(i)]
    print(" ".join(ans))

Enter number of rows 5

A
A B
A B C
A B C D
A B C D E

# inverted Right angle triangle with alphabets

In [84]:
rows=int(input("Enter number of rows"))
for i in range(rows,0,-1):
    ans=[chr(65+j) for j in range(i)]
    print(" ".join(ans))

Enter number of rows 5

A B C D E
A B C D
A B C
A B
A

# Left angle triangle with alphabets

In [87]:
rows=int(input("Enter number of rows"))
for i in range(1,rows+1):
    print(" "*(rows-i),end='')
    ans=[chr(65+j) for j in range(i)]
    print("".join(ans))
    print()

Enter number of rows 5

    A

   AB

  ABC

 ABCD

ABCDE

# pyramid with alphabets

In [88]:
rows=int(input("Enter number of rows"))
for i in range(1,rows+1):
    print(" "*(rows-i),end='')
    ans=[chr(65+j) for j in range(i)]
    print(" ".join(ans))
    print()

Enter number of rows 5

    A

   A B

  A B C

 A B C D

A B C D E

# inverted left angle triangle with alphabets

In [93]:
rows=int(input("Enter number of rows"))
for i in range(rows,0,-1):
    for j in range(rows-i):
        print(" ",end='')
    ans=[chr(65+j) for j in range(i)]
    print("".join(ans))
    print()

Enter number of rows 5

ABCDE

 ABCD

  ABC

   AB

    A

# Inverted pyramid with alphabets

In [95]:
rows=int(input("Enter number of rows"))
for i in range(rows,0,-1):
  for j in range(rows-i):
     print(" ",end='')
  ans=[chr(65+k) for k in range(i)]
  print(" ".join(ans))
  print()

Enter number of rows 5

A B C D E

 A B C D

  A B C

   A B

    A

# Diamond with alphabets

In [96]:
rows=int(input("Enter number of rows"))
for i in range(1,rows+1):
    print(" "*(rows-i),end='')
    ans=[chr(65+j) for j in range(i)]
    print(" ".join(ans))
    print()
for i in range(rows,0,-1):
  for j in range(rows-i):
     print(" ",end='')
  ans=[chr(65+k) for k in range(i)]
  print(" ".join(ans))
  print()

Enter number of rows 5

    A

   A B

  A B C

 A B C D

A B C D E

A B C D E

 A B C D

  A B C

   A B

    A

In [36]:
rows=int(input("Enter number of rows"))
for i in range(1,rows+1):
    ans=[chr(65+j) for j in range(i)]
    print("".join(ans),end='')
    print(' '*(2*(rows-i)),end='')
    ans=[chr(65+j) for j in range(i)]
    print("".join(ans),end='')
    print()

for i in range(rows,0,-1):
    ans=[chr(65+j) for j in range(i)]
    print("".join(ans),end='')
    print(' '*(2*(rows-i)),end='')
    ans=[chr(65+j) for j in range(i)]
    print("".join(ans),end='')
    print()

Enter number of rows 5

A        A
AB      AB
ABC    ABC
ABCD  ABCD
ABCDEABCDE
ABCDEABCDE
ABCD  ABCD
ABC    ABC
AB      AB
A        A